/** @format */

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 1.8vw;
	max-height: 100vh;
	overflow: hidden;
	background-color: grey;
	color: lawngreen;
}
.main {
	margin: auto;
}
.grid {
	width: 75vw;
	display: grid;
	grid-template-columns: 100px auto 3em 3em 50px;
	grid-template-rows: auto auto 1fr auto 1fr;
	gap: 0.25em;
	height: 100vh;
	transform: rotate(-27deg);
	margin-left: 10vw;
	margin-top: 2vh;
	background-color: indigo;
	box-shadow: -2px -2px 7px 1px rgba(63, 0, 252, 0.48), 2px 2px 7px 1px rgba(63, 0, 252, 0.48);
	border-radius: 50px 50px 50px 50px;

	&__item1 {
		grid-column: 2 / 3;
		font-size: 2em;
		color: lawngreen;
		align-self: center;
		justify-self: center;
	}
	&__item2 {
		font-size: 1.6em;
		writing-mode: vertical-lr;
		grid-row: 3 / 6;
		grid-column: 4 / 5;

		align-self: end;
		justify-self: end;
		padding: 0.25em;
	}
	&__item3 {
		grid-row: 1 / 6;
		grid-column: 1 / 2;
		border-radius: 50px;
		background: url(../img/codeTall.jpg) no-repeat center / cover;
	}
	&__item4 {
		grid-row: 5 / 6;
		grid-column: 3 / 4;
		writing-mode: vertical-rl;
		font-size: 1.7em;
		justify-self: center;
		align-self: center;
	}
	&__item5 {
		font-size: 1.6em;
		grid-column: 3 /4;
		grid-row: 3 /4;
		writing-mode: vertical-rl;
		justify-self: center;
		align-self: center;
	}
	&__item6 {
		font-size: 1.6em;
		grid-column: 3 /4;
		grid-row: 4 /5;
		writing-mode: vertical-rl;
		justify-self: center;
	}
	&__item7 {
		background: url(../img/code1.jpg) no-repeat center / cover;
		grid-column: 2 / 3;
		grid-row: 2 / 4;
		border-radius: 10px;
	}
	&__item8 {
		background: url(../img/keyboard.jpg) center / cover;
		grid-column: 2 / 3;
		grid-row: 4 / 6;
		border-radius: 10px;
	}
}
@media only screen and (max-width: 704px) {
	.grid {
		width: 90vw;
		margin: auto;
		grid-template-columns: auto 3em 3em;
		grid-template-rows: 4rem auto auto auto;
		transform: rotate(-12deg);

		margin-top: 20px;
		&__item1 {
			grid-column: 1 /2;
			align-self: center;
			justify-self: center;
		}
		&__item2 {
			// writing-mode: initial;
			grid-column: 3 / 4;
			grid-row: 2 / 5;
			font-size: 2em;
			align-self: center;
		}
		&__item3 {
			display: none;
		}
		&__item8 {
			grid-row: 2 /3;
			grid-column: 1 /2;
		}
		&__item4 {
			justify-self: center;
			align-self: center;
			grid-column: 2 /3;
		}
		&__item7 {
			grid-column: 1 /2;
			grid-row: 2 /4;
		}
		&__item8 {
			grid-column: 1 /2;
			grid-row: 4 /6;
		}
		&__item5 {
			justify-self: center;
			grid-column: 2 /3;
		}
		&__item6 {
			justify-self: center;
			grid-row: 4 /5;
			grid-column: 2 /3;
		}
	}
}
@media only screen and (max-width: 700px) {
	.grid {
		grid-template-columns: 1fr 50px;
		grid-template-rows: repeat(4, 4rem) repeat(5, auto);
		transform: rotate(0);
		font-size: 2rem;
		height: 100vh;

		&__item1 {
			grid-column: 1/ 2;
			grid-row: 1 /2;
			justify-self: center;
		}
		&__item2 {
			writing-mode: vertical-lr;
			grid-column: 2 / 3;
			grid-row: 1 / 7;
			font-size: 3rem;
		}
		&__item8 {
			grid-row: 6 /8;
			grid-column: 1 /2;
		}
		&__item4 {
			grid-column: 1 / 2;
			grid-row: 2 / 3;
			writing-mode: initial;
		}
		&__item5 {
			writing-mode: initial;
			grid-column: 1 / 2;
			grid-row: 3 / 4;
			align-self: center;
		}
		&__item6 {
			writing-mode: initial;
			grid-column: 1 /2;
			grid-row: 4 /5;
			align-self: center;
		}
		&__item8 {
			grid-row: 7 / 9;
			grid-column: 1 / 2;
		}
		&__item3 {
			display: none;
		}
		&__item7 {
			grid-column: 1 /2;
			grid-row: 5 /7;
		}
	}
}
